{% extends 'wikiApp/index.html' %}

{% block header %}

Details Page

{% endblock%}


{% block detailEntry %}

<h2>{{Entry.Entry_Title}}</h2><br/>
{{Entry.Entry_Text}}<br/>

{% if entry.Entry_FileUpload != '' %}
<img src="{{ entry.Entry_FileUpload.url }}" alt=""><br/>
{% endif %}

{% endblock %}


{% block detailRelatedEntry %}

{% for entry in allRelatedEntries %}

<h5>{{ entry.Related_Title }}</h5><br/>

{{ entry.Related_Text }}<br/>

{% if entry.Related_FileUpload != '' %}
<img src="{{ entry.Related_FileUpload.url }}" alt=""><br/>
{% endif %}


<hr/>
{% endfor %}

{% endblock %}

