{% extends 'wikiApp/index.html' %}

{% block header %}

Edit My Entries

{% endblock%}



{% block content %}

<form method='POST'>
    {{ form.as_p }}
    <button type="submit">Save Item</button>
    {% csrf_token %}
</form>


{% for relatedEntry in allRelatedEntries %}

    {{ relatedEntry.Related_Title }}<br/>
    {{ relatedEntry.Related_Text }}<br/>
    <hr/>
{% if  relatedEntry.Related_FileUpload  != '' %}

<img src="{{ entry.Related_FileUpload.url }}" alt=""><br/>
{% endif %}

{% endfor %}

{% endblock content %}




{% block displayRelatedcontent %}

<button><a href="{% url 'relatedEntries' pk  %}"> Add a Related Entry </a></button>

{% endblock displayRelatedcontent %}
