{% extends 'wikiApp/index.html' %}

{% block header %}

Edit My Entries

{% endblock%}



{% block content %}

<form method='POST' enctype="multipart/form-data">
    {{ form.as_p }}
    <button type="submit">Save Item</button>
    {% csrf_token %}
</form>
{% endblock content %}


{% block displayRelatedcontent %}

{% for entry in allRelatedEntries %}

{{ entry.Related_Title }}<br/>
{{ entry.Related_Text }}

{% if entry.Related_FileUpload != '' %}
<img src="{{ entry.Related_FileUpload.url }}" alt=""><br/>
{% endif %}

<button><a href="{% url 'editRelated' entry.pk %}"> Edit Post</a></button>
<button><a href="{% url 'deleteRelated' entry.pk %}"> Delete Post</a></button>
<hr/>
{% endfor %}



<button><a href="{% url 'relatedEntries' pk  %}"> Add a Related Entry </a></button>

{% endblock displayRelatedcontent %}
