<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'wikiApp/index.css' %}">
</head>

<body id="container">

<h1 id="header" class="jumbotron"> {% block header %}Welcome to Wikipedia{% endblock header %}</h1>
{% if user.is_authenticated %} {#________________________Logged In User Authentication _______________________#}


<section id="mynavigationbar1">
    <ul class="nav navbar ">

        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'newEntry' pk %}">New Wiki Entry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'yourWikiEntries' pk %}">Your Wiki Entires</a>
        </li>

        <li class="nav.item">
            <a class="nav-link active" href="/log_me_out/">Logout</a>
        </li>

        <form id="searchbar" action="/search_results/" method="get">
            <label  for="search1">Search </label>
            <input id="search1" type="text" placeholder="Search Wikipedia..." name="q">
        </form>

    </ul>
</section>
<p id="welcomeuser">Welcome, {{ user.username}}.</p>


<section id="entryform">
    {% block entryForm %}
    {% endblock entryForm %}
</section>

<section id="related_entryform">
    {% block RelatedEntryForm %}
    {% endblock RelatedEntryForm %}
</section>

<section class="display_entries" id="related_entry_display">
    {% block displayRelatedcontent %}
    {% endblock displayRelatedcontent %}
</section>


{% else %}
<section id="mynavigationbar2">
    <ul class="nav navbar ">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="/login_my_user/">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/new_user/">Sign Up</a>
        </li>


        <form action="/search_results/" method="get">
            <label for="search2">Search</label>
            <input id="search2" type="text" placeholder="Search Wikipedia..." name="q">
        </form>
    </ul>
</section>


{% endif %} {#________________________Logged In User Authentication if and else ends here_______________________#}



<section id="signUp">
{% block signup %}
{% endblock %}
</section>

<section class="display_entries">
    {% block logIncontent %}
    {% endblock %}
</section>

<section id="yourwikiEntries">
{% block loggedInEntry %}
{% endblock %}
</section>

<section id="editEntryForm">
{% block content %}
{% endblock %}

</section>

<section class="display_entries">

{% for post in entry_list %}

<a href="{% url 'details' post.pk %}">{{ post.Entry_Title }}</a><br/><br>
{{ post.Entry_Text }}<br>


{% endfor %}
</section>

<section class="display_entries_img">
{% for post in entry_list %}
{% if post.Entry_FileUpload != '' %}
<img src="{{ post.Entry_FileUpload.url }}" alt="IMAGE" width="40%" ><br/>
{% endif %}

<hr/>
{% endfor %}

</section>






<section id="detailEntry">
    {% block detailEntry %}
    {% endblock %}
</section>


<section id="RelateddetailEntry">

{% block detailRelatedEntry %}

{% endblock %}

</section>




<footer id="footer" class="jumbotron">This application is developed by Hamida Mandani</footer>

{# JavaScript for Bootstrap #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>