<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia</title>

    {% load static %}


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'wikiApp/index.css' %}">
</head>
<body id="container">

<h1 id="header" class="jumbotron">{% block header %}Welcome to Wikipedia{% endblock header %}</h1>

{% if user.is_authenticated %}

<p>Welcome, {{ user.username}}.</p>
<section>
    <ul class="nav">
        <li class="nav.item">
            <a class="nav-link active" href="/log_me_out/">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/index/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/newEntry/">New Wiki Entry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/yourWikiEntries/">Your Wiki Entires</a>
        </li>
    </ul>
</section>


    {% else %}
        <section id="nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/index/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newEntry/">New Wiki Entry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/yourWikiEntries/">Your Wiki Entires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/login_my_user/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/new_user/">Sign Up</a>
                </li>
            </ul>
        </section>
{% endif %}


{% block content %}
{% endblock %}









<form id="searchbar" method="POST">

    {{ searchform.as_p }}
    {% csrf_token %}

</form>

{% block entryForm %}
{% endblock entryForm %}


<section class="postEntry">

    {% for post in entry_list %}

    {{ post.Entry_Title }}<br/>
    {{ post.Entry_Text }}

    <button><a href="{% url 'edit' post.pk %}"> Edit Post</a></button>
    <button><a href="{% url 'delete' post.pk %}"> Delete Post</a></button>
    <hr/>


    {% comment image upload %}
    {{ post.Entry_FileUpload.url }}
    {% endcomment %}
    {% endfor %}
    ​
</section>


<section>

{% block loggedInEntry %}
{% endblock %}

</section>

<footer id="footer" class="jumbotron">This application is developed by Hamida Mandani</footer>

{# JavaScript for Bootstrap #}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>