<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wikipedia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wikiApp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'wikiApp/css/index.css' %}">

</head>
<body>
<h1 class="jumbotron">Welcome to Wikipedia</h1>
<section id="nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/home/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/newEntry/">New Wiki Entry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/yourWikiEntries/">Your Wiki Entires</a>
        </li>
    </ul>
</section>





{# JavaScript for Bootstrap #}
<script src="{% static 'wikiApp/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'wikiApp/js/bootstrap.js' %}"></script>
</body>
</html>