
#container
{
    width: 100%;
    height: 500px;
    display: grid;
    margin-left: 2%;
    margin-right: 2%;
    grid-template-columns: 1fr 1fr 1fr

}

#nav
{
    grid-column: 1/4;

}

#header

{
    grid-column: 1/4;
}

#footer
{
    grid-column: 1/4;

}

#searchbar

{
    grid-column: 3;
}




#entryform
{
    grid-column: 1;
}



.display_entries
{
    grid-column: 1;
}

