
#container
{
    width: 100%;
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 1fr 1fr 1fr

}

#nav
{
    grid-column: 1/4;

}

#header

{
    grid-column: 1/4;
}

#footer
{
    grid-column: 1/4;

}

#searchbar

{
    grid-column: 3;
}




#entryform
{
    grid-column: 1;
}



.postEntry
{
    grid-column: 1;
}